@media (min-width: 600px) {
  .side-nav {
    box-shadow: inset -4px 0 6px -1px rgba(0, 0, 0, 0.1),
      inset -2px 0 4px -1px rgba(0, 0, 0, 0.06);
  }

  .side-nav-header {
    box-shadow: inset -4px 0 6px -1px rgba(0, 0, 0, 0.1),
      inset -2px 0 4px -1px rgba(0, 0, 0, 0.06);
  }
}

html.dark .side-nav {
  background-color: #4b5563;
  color: #e5e7eb;
}

@media (min-width: 600px) {
  html.dark .side-nav {
    box-shadow: none !important;
    border-right: 1px solid #1f2937 !important;
  }
}

.side-nav-header .mx-auto {
  border-bottom: 1px solid #e5e7eb;
}

html.dark .side-nav-header {
  background-color: #4b5563;
}

html.dark .side-nav-header .mx-auto {
  border-bottom: 1px solid #6b7280;
}

html.dark .side-nav-footer {
  border-color: #6b7280;
}

html.dark .side-nav-app-name {
  color: #5eead4;
}

html.dark .side-nav-close-button {
  color: #e5e7eb;
}

html.dark .side-nav-close-button:hover {
  color: #ffffff;
}

html.dark .side-nav-item {
  color: #e5e7eb;
}

html.dark .side-nav-item:hover {
  background-color: #374151;
  color: #9ca3af;
}

html.dark .side-nav-item.active {
  background-color: #1f2937;
  color: #5eead4;
}

.side-nav-item:last-child {
  margin-bottom: 0;
}

.side-nav-settings-button {
  margin-bottom: 8px;
}

.side-nav-settings-button:last-child {
  margin-bottom: 0;
}

html.dark .side-nav-settings-button {
  color: #e5e7eb;
}

html.dark .side-nav-settings-button:hover {
  background-color: #374151;
  color: #9ca3af;
}

html.dark .side-nav-trial-container {
  background-color: rgba(245, 158, 11, 0.1) !important;
  border-color: #d97706 !important;
}

html.dark .side-nav-trial-header {
  color: #fbbf24 !important;
}

html.dark .side-nav-trial-text {
  color: #fbbf24 !important;
}
