html.dark .badge-dark-default {
  background-color: rgba(13, 148, 136, 0.2);
  color: #5eead4;
}

html.dark .badge-dark-secondary {
  background-color: #374151;
  color: #e5e7eb;
}

html.dark .badge-dark-outline {
  border-color: #4b5563;
  color: #d1d5db;
}
