html.dark .mobile-menu-hamburger {
  color: #e5e7eb;
}

html.dark .mobile-menu-hamburger:hover {
  background-color: rgba(55, 65, 81, 0.5);
  color: #f9fafb;
}

html.dark .mobile-menu-dropdown {
  background-color: #1f2937;
  border-color: #374151;
}

html.dark .mobile-menu-item {
  color: #e5e7eb;
}

html.dark .mobile-menu-item:hover {
  background-color: #374151;
  color: #5eead4;
}

.mobile-menu-hamburger:focus-visible {
  outline: 2px solid #0d9488;
  outline-offset: 2px;
}

html.dark .mobile-menu-hamburger:focus-visible {
  outline-color: #5eead4;
}

.mobile-menu-item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mobile-menu-item button {
  width: 100%;
  justify-content: center;
}
