html.dark .unit-button {
  color: #e5e7eb !important;
}

html.dark .amount-unit {
  background-color: #374151 !important;
  border-color: #4b5563 !important;
  color: #e5e7eb !important;
}

html.dark .increment-button,
html.dark .decrement-button {
  background-image: linear-gradient(to right, #0d9488, #059669) !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.1) !important;
}

html.dark .increment-button:hover,
html.dark .decrement-button:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3),
    0 4px 6px -2px rgba(0, 0, 0, 0.2) !important;
}
